body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 810px;
	height: 100%;
	min-height: 600px;
	behavior: url(csshover.htc);
}

ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a,
dd,
div,
dl,
i,
img,
input,
li,
p,
span,
ul {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a:hover {
	text-decoration: none;
	color: #35b558 !important;
}


/*网页头部*/

.thead {
	width: 1000px;
	height: 50px;
	margin: 16px auto;
	position: relative;
}

.logo {
	float: left;
	width: 113px;
	margin: auto;
	line-height: 50px;
}


/*搜索*/

.search {
	position: relative;
	height: 38px;
	float: left;
	margin-left: 220px;
	margin-top: 10px;
}

#search-text {
	outline: none;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	width: 340px;
	border: 1px solid #e4e4e4;
	float: left;
	border-right: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hot-words {
	display: block;
	position: absolute;
	top: 9px;
	right: 48px;
	font-size: 12px;
}

.hot-words a {
	display: inline-block;
	padding: 1px 3px;
	margin-left: 5px;
	color: gray;
	background: #f3f3f3;
}

.form-inline input[type=submit] {
	outline: none;
	border-radius: 0;
	background: url(../img/search-icon.png) center center no-repeat;
	width: 40px;
	height: 34px;
	border: 1px solid #dfdfdf !important;
}

.form-inline input[type=submit]:hover {
	border: 1px solid #35b558;
	background: url(../img/topsearch-icon2.png) #35b558 center center no-repeat;
}

.search-submit-focus {
	border: 1px solid #35b558;
	background: url(../img/topsearch-icon2.png) #35b558 center center no-repeat !important;
}

.login {
	float: right;
	line-height: 50px;
}

.massage {
	background: url(../img/massage-icon.gif) left center no-repeat;
	background-size: 15px 13px;
	box-sizing: content-box;
	padding-left: 15px;
	position: relative;
	left: -10px;
}

.login a {
	padding: 0 10px 0 10px;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}

.line {
	width: 100%;
	height: 2px;
	background: #35b558;
}

.bhead {
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	position: relative;
	z-index: 1100;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}


/*头部导航栏*/

.nav-box {
	height: 42px;
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

.topnav {
	display: inline-block;
	width: 740px;
	box-sizing: border-box;
}

.topnav a {
	display: inline-block;
	width: 120px;
	font-size: 14px;
	color: #333;
	line-height: 42px;
	padding: 0;
	text-align: center;
}

.topnav a:hover {
	color: #35b558;
}

.topnav a:nth-child(1) {
	padding: 0;
	margin-right: 22px;
	width: auto;
}

.navpanel {
	display: none;
	position: absolute;
	top: 42px;
	width: 100%;
	background: rgba(255, 255, 255, .97);
	border: 1px solid #e8e8e8;
	border-top: 0;
	padding-left: 50px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
	zoom: 1;
	box-sizing: border-box;
}

.panel-item {
	border-left: 1px solid #F7F7F7;
	position: relative;
	width: 124px;
	margin-left: -1px;
	border-right: 1px solid #F7F7F7;
	float: left;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 14px;
	height: 100%;
}

.panel-item:hover {
	background: #F8F8FF;
}

.nav-l-hover {
	background: #F8F8FF;
}

.item-box {
	padding: 0;
}

.item-box li a {
	line-height: 29px;
	display: block;
	text-align: left;
	margin-right: 0;
	font-size: 12px;
	color: #666;
	padding: 0;
	width: auto;
}

.angle {
	display: none;
	background-image: url(../img/nav-angle.png);
	width: 12px;
	height: 7px;
	position: absolute;
	background-size: 100% 100%;
	top: -7px;
	left: 54px;
}

.user-need {
	float: right;
	margin: 0 auto;
	height: 44px;
}

.user-need a {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	text-align: center;
	line-height: 44px;
	padding-left: 20px;
}

.bline {
	width: 100%;
	border-top: 2px solid #D4D4D4;
	border-bottom: 2px solid #FFF;
}

.top-content {
	height: 373px;
	margin: 20px auto;
	width: 1000px;
	box-sizing: border-box;
}


/*左则导航条*/

.leftnav {
	position: relative;
	width: 210px;
	float: left;
	border-top: 2px solid #35b558;
	border-right: 0;
	height: 373px;
	box-sizing: border-box;
}

.leftnav ul {
	padding: 0;
	position: absolute;
	z-index: 800;
	width: 210px;
	height: 371px;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-top: 0;
	box-sizing: border-box;
}

.leftnav-list {
	width: 208px;
	height: 37px;
	line-height: 37px;
	padding: 0 15px;
	font-size: 13px;
	color: #333;
	border-bottom: 1px solid #F5F5F5;
	background: #fff url(../img/more-icon.png) 186px center no-repeat;
	background-size: 6px 10px;
	cursor: pointer;
	font-weight: 400;
}

.leftnav ul li >div:hover {
	border-left: 2px solid #35b558;
	background: #fff;
}

.leftnav-list:hover div {
	display: block;
}

.leftnav ul li div a {
	color: #333;
	font-size: 14px;
}

.lesson-list-show {
	display: none;
	opacity: 0.98;
	width: 401px;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
	overflow: hidden;
	min-height: 373px;
	min-width: 401px;
	background: #fff;
	border: 1px solid #e4e4e4;
	position: absolute;
	left: 209px;
	top: -2px;
	z-index: 100;
	border-left: 0;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.lesson-list-show div {
	width: 400px;
	float: left;
	box-sizing: border-box;
}

.lesson-list-show dl {
	margin: 0 10px;
	overflow: hidden;
}

.lesson-list-show dt {
	display: block;
	border-bottom: 1px solid #f5f5f5;
	height: 37px;
	line-height: 45px;
}

.lesson-list-show dt>a {
	color: #333;
	font-size: 14px;
	font-weight: 400;
}

.lesson-list-show dd {
	list-style: none;
	margin-left: -8px;
	padding: 3px 0;
}

.lesson-list-show dd a {
	height: 14px;
	line-height: 14px;
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 0 7px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	border-left: 1px solid #e0e0e0;
	float: left;
	white-space: nowrap;
	font-weight: 400;
}


/*横幅广告*/

.ban-section {
	margin-left: 10px;
	float: left;
	width: 562px;
	height: 330px;
}

.banner {
	position: relative;
	height: 260px;
	width: 562px;
	overflow: hidden;
	zoom: 1;
}

.slides >li {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	height: 260px;
	width: 562px;
}

.slides >li:first-child {
	display: block;
}

.slides li a img {
	height: 260px;
	width: 562px;
	display: block;
}

.andriod-img {
	background: url(../img/andriod.jpg) no-repeat center;
}

.javaweb-img {
	background: url(../img/javaweb.jpg) no-repeat center;
}

.web-img {
	background: url(../img/web.jpg) no-repeat center;
}

.php-img {
	background: url(../img/php.jpg) no-repeat center;
}

.banner-left {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	z-index: 800;
	cursor: pointer;
	background: url(../img/banner-left.png) -10px -5px no-repeat;
	width: 40px;
	height: 50px;
	overflow: hidden;
}

.banner-right {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -25px;
	z-index: 800;
	cursor: pointer;
	background: url(../img/banner-right.png) -10px -5px no-repeat;
	width: 40px;
	height: 50px;
	overflow: hidden;
}

.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 7px;
	width: 100%;
	z-index: 800;
}

.flex-direction-nav {
	display: none;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 39px;
	height: 7px;
	background: url(../img/swiper1.jpg) center center no-repeat;
	margin: 0 6px;
	cursor: pointer;
}

.active {
	background: url(../img/swiper2.jpg) center center no-repeat;
}

.banner:hover .flex-direction-nav {
	display: block;
}

.focuswork {
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	height: 103px;
	width: 562px;
	border: 1px solid #EEEEE0;
	border-right: 0;
}

.worklist {
	width: 1122px;
	padding: 0;
	height: 103px;
	position: absolute;
	left: 0;
	top: 0;
}

.swaplist1 {
	position: absolute;
	top: 0px;
}

.arrow {
	display: none;
	position: absolute;
	top: 30px;
	z-index: 200;
	width: 24px;
	height: 40px;
}

.focuswork:hover .arrow {
	display: block;
}

.arrow-left {
	left: 0;
	background: url(../img/focus-nav.png) 0 0 no-repeat;
	background-size: 48px 80px;
}

.arrow-right {
	right: 0;
	background: url(../img/focus-nav.png) -24px 0 no-repeat;
	background-size: 48px 80px;
}

.wrap {
	border-right: 1px solid #EEEEE0;
	height: 103px;
	width: 187px;
	text-align: center;
	padding-top: 10px;
	float: left;
}

.wrap a {
	text-decoration: none;
	color: #333;
	font-size: 14px;
}


/*新闻和用户信息区*/

.right-show {
	height: 373px;
	width: 210px;
	border: 1px solid #EEEEE0;
	float: right;
}

.newslist {
	height: 140px;
	border-bottom: 1px solid #EEEEE0;
	text-indent: 1em;
}

.text-muted:hover {
	color: #35b558;
}

.list a {
	text-decoration: none;
	font-size: 12px;
}

.userinfo {
	height: 80px;
	border-bottom: 1px solid #EEEEE0;
}

.photograph {
	float: left;
	width: 40px;
	margin: 6px;
}

.hello {
	height: 36px;
	font-size: 12px;
	color: #333;
	float: left;
	margin: 6px;
}

.userstatus {
	width: 150px;
	position: relative;
	left: 6px;
}

.questions {
	height: 70px;
	width: 52px;
	border-bottom: 1px solid #EEEEE0;
	border-right: 1px solid #EEEEE0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.questionsicon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -3px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.questionsicon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: 28px -3px;
}

.wiki {
	height: 70px;
	width: 52px;
	border-bottom: 1px solid #EEEEE0;
	border-right: 1px solid #EEEEE0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.wikiicon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -31px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.wikiicon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: 28px -31px;
}

.course {
	height: 70px;
	width: 52px;
	border-bottom: 1px solid #EEEEE0;
	border-right: 1px solid #EEEEE0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.coursecon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -59px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.coursecon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: 28px -59px;
}

.association {
	height: 70px;
	width: 52px;
	border-bottom: 1px solid #EEEEE0;
	border-right: 0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.associationcon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -87px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.associationcon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: 28px -87px;
}

.download {
	height: 70px;
	width: 52px;
	border-right: 1px solid #EEEEE0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.downloadicon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -117px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.downloadicon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -41px -117px;
}

.knowledge {
	height: 70px;
	width: 52px;
	border-right: 1px solid #EEEEE0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.knowledgeicon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -144px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.knowledgeicon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -41px -144px;
}

.job {
	height: 70px;
	width: 52px;
	border-right: 1px solid #EEEEE0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.jobicon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -173px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.jobicon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: 28px -173px;
}

.vip {
	height: 70px;
	width: 52px;
	border-right: 0;
	box-sizing: border-box;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
	float: left;
}

.vipicon {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: -5px -200px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.vipicon:hover {
	background-image: url(../img/recommend.png);
	width: 25px;
	height: 25px;
	background-size: 71px 232px;
	background-position: 28px -200px;
}


/*公开课*/

.livelesson {
	margin: 0 auto;
	width: 1000px;
	height: 220px;
}

.live {
	margin: 16px auto;
	width: 210px;
	height: 200px;
	border: 1px solid #EEEEE0;
	float: left;
}

.lesson {
	width: 786px;
	height: 200px;
	border: 1px solid #EEEEE0;
	border-top: 0;
	border-left: 0;
	float: left;
	margin: 16px auto;
}

.week {
	height: 40px;
}

.week-day {
	cursor: pointer;
	line-height: 40px;
	margin-top: -10px;
	float: left;
	width: 157px;
	text-align: center;
	border-top: 1px solid #EEEEE0;
	border-bottom: 1px solid #EEEEE0;
}

.week-day-hover {
	color: #35b558;
	border-top: 2px solid #35b558;
	border-bottom: 0;
	border-left: 1px solid #EEEEE0;
	border-right: 1px solid #EEEEE0;
}

.lessonlit {
	float: left;
	width: 786px;
	height: 160px;
	margin: 0;
	padding-left: 0;
}

.lesson-item-top {
	width: 786px;
	height: 68px;
	border-bottom: 1px solid #EEEEE0;
}

.lesson-item-bottom {
	margin-top: 20px;
}

.lesson-item-left {
	float: left;
	width: 44px;
	height: 44px;
	margin: 0 15px 0px 15px;
}

.lesson-item-content {
	float: left;
	width: 600px;
}

.lesson-item-content span {
	font-size: 12px;
	color: #8c8c8c;
	padding-right: 10px;
}

.lesson-item-right {
	float: right;
	margin: 15px 20px;
	background: #CCCCCC;
}


/*课程内容区*/

.lessoncontent {
	margin: 20px auto;
	width: 1000px;
	height: 510px;
}

.hot-lesson {
	height: 40px;
}

.hot-lessonbox {
	display: none;
}

.hot-lessonbox ul {
	padding: 0;
	width: 1100px;
	margin-top: 0;
	zoom: 1;
}

.hot-lessonbox ul li {
	float: left;
	margin-right: 20px;
	background: 0 0;
	margin-bottom: 20px;
	height: 220px;
	width: 235px;
}

.lessonimg-box {
	position: relative;
	border: 1px solid #e4e4e4;
	border-bottom: 0;
	width: 235px;
}

.playericon {
	position: absolute;
	z-index: 120;
	width: 50px;
	height: 50px;
	display: none;
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -25px;
	background: url(../img/player_icon.png) 0 0 no-repeat;
	cursor: pointer;
	background-size: 50px 50px;
}

.lesson-infor {
	border: 1px solid #e4e4e4;
	border-top: 0;
	background: #fff!important;
	height: 88px;
	padding: 10px;
	position: relative;
	z-index: 200;
}

.lessonimg-box a img {
	width: 100%;
	height: 130px;
	vertical-align: middle;
	box-sizing: border-box;
}

.hot-lesson-1:hover .lessonplay {
	opacity: 1;
}

.hot-lesson-1:hover .playericon {
	display: block;
}

.hot-lesson-1:hover .lesson-infor {
	height: 200px;
}

.hot-lesson-1:hover .lesson-infor p {
	display: block !important;
}

.lessonplay {
	opacity: 0;
	background: rgba(0, 0, 0, .4);
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
}

.lesson-h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	margin-bottom: 12px;
	height: 36px;
	overflow: hidden;
}

.lesson-infor p {
	display: none;
	color: gray;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}

.timeandicon {
	vertical-align: middle;
	line-height: 24px;
	font-size: 12px;
	color: gray;
	position: relative;
}

.hot-lesson li {
	float: left;
	width: 16.6%;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
	cursor: pointer;
}

.hot-lesson-hover {
	border-bottom: 2px solid #35b558;
	color: #35b558;
	background: url(../img/index-sj.png) center bottom no-repeat;
	background-size: 10px 4px;
}

.hot-lesson-1 a {
	text-decoration: none;
	color: #666;
}

.hot-lesson-1 span {
	font-size: 12px;
	color: #8c8c8c;
	padding-right: 90px;
}

.week-list {
	display: none;
}

.block {
	display: block !important;
}

.block1 {
	display: block !important;
}


/*职业路径图*/

.learn-way {
	margin-top: 50px !important;
	width: 1000px;
	margin: 0 auto;
}

.learn-card {
	height: 300px;
}

.learn-card a {
	width: 20%;
	border: 1px solid #E4E4E4;
	float: left;
	text-align: center;
	display: block;
	height: 300px;
	border-right: 0;
	overflow: hidden;
}

.lastcard {
	border-right: 1px solid #E4E4E4 !important;
}

.learn-card a:hover {
	border-color: #35b558;
	border-right: 1px solid #35b558!important;
}

.learn-card a:hover .greenbtn2 {
	background-color: #35b558;
	color: #FFFFFF;
}

.learn-card a img {
	margin-bottom: 24px;
	vertical-align: middle;
	width: 100%;
	height: 120px;
}

.learn-card a h2 {
	font-size: 15px;
	color: #333;
	margin-bottom: 20px;
	height: 18px;
	overflow: hidden;
	font-weight: 400;
	padding: 0;
	margin-top: 0;
}

.learn-card a p {
	font-size: 12px;
	color: #666;
	line-height: 20px;
	height: 20px;
	width: 199px;
	overflow: hidden;
}

.greenbtn2 {
	width: 140px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	color: #35b558;
	font-size: 16px;
	background: #f3fff6;
	border: 1px solid #35b558;
}


/*知识体系图*/

.learnbox {
	margin-top: 50px !important;
	width: 1000px;
	margin: 0 auto;
}

.index-public-title {
	height: 25px;
	margin-bottom: 16px;
}

.index-public-title > a {
	font-size: 18px;
	color: #333;
	float: left;
	font-weight: 600;
}

.mapbox {
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	width: 998px;
	height: 120px;
	overflow: hidden;
	box-sizing: border-box;
}

.card-transform {
	box-sizing: border-box;
	width: 166px;
	height: 120px;
	border: 1px solid #E4E4E4;
	border-right: 0;
	border-bottom: 0;
	float: left;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.front {
	border-bottom: 1px solid #E4E4E4;
	padding: 15px 0;
	z-index: 2;
	background-color: #fff;
	width: 167px;
	height: 120px;
	-webkit-backface-visibility: hidden;
	-webkit-transition: 1.2s;
	-moz-backface-visibility: hidden;
	-moz-transition: 1.2s;
	-ms-backface-visibility: hidden;
	-ms-transition: 1.2s;
	backface-visibility: hidden;
	transition-property: initial;
	transition-duration: 1.2s;
	transition-timing-function: initial;
	transition-delay: initial;
	position: absolute;
	left: 0;
	top: 0;
}

.card-transform .front img {
	margin-bottom: 5px;
	height: 40px;
	width: 40px;
}

.card-transform .front h2 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
	color: #333;
	font-weight: 400;
}

.card-transform .front span {
	font-size: 14px;
	color: #35b558;
}

.back {
	padding-top: 30px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #E4E4E4;
	width: 167px;
	height: 120px;
	-webkit-backface-visibility: hidden;
	-webkit-transition: 1.2s;
	-moz-backface-visibility: hidden;
	-moz-transition: 1.2s;
	-ms-backface-visibility: hidden;
	-ms-transition: 1.2s;
	backface-visibility: hidden;
	transition-property: initial;
	transition-duration: 1.2s;
	transition-timing-function: initial;
	transition-delay: initial;
	position: absolute;
	left: 0;
	top: 0;
}

.card-transform .back strong {
	display: block;
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
	font-weight: 400;
}

.card-transform .back .greenbtn {
	font-size: 16px;
	color: #fff;
	text-align: center;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	width: 140px;
	height: 36px;
	cursor: pointer;
	display: inline-block;
	background: #35b558;
	border: 0;
}


/*媒体报道*/

.report {
	width: 1000px;
	height: 130px;
	margin: 50px auto;
}

.box {
	height: 90px;
	padding: 20px;
	border: 1px solid #EEEEE0;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.picbox {
	width: 960px;
	height: 50px;
	overflow: hidden;
	position: relative;
}

.piclist {
	margin: 0;
	padding: 0;
	width: 2000px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.piclist li {
	box-sizing: border-box;
	margin-right: 6px;
	float: left;
	width: 154px;
	height: 50px;
	border: 1px solid #EEEEE0;
}

.piclist li a img {
	width: 152px;
	height: 48px;
}

.swaplist {
	width: 2000px;
	position: absolute;
	left: -3000px;
	top: 0px
}

.banner-left2 {
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	z-index: 800;
	cursor: pointer;
	background: url(../img/banner-left.png) -10px -5px no-repeat;
	width: 40px;
	height: 50px;
	overflow: hidden;
}

.banner-right2 {
	display: none;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -25px;
	z-index: 800;
	cursor: pointer;
	background: url(../img/banner-right.png) -10px -5px no-repeat;
	width: 40px;
	height: 50px;
	overflow: hidden;
}

.box:hover .banner-left2 {
	display: block;
}

.box:hover .banner-right2 {
	display: block;
}


/*网页底部*/

.footer {
	min-width: 1000px;
}

.footer-nav {
	background-color: #FAFAFA;
	border-top: 1px solid #EEEEE0;
	border-bottom: 1px solid #EEEEE0;
	height: 254px;
}

.jkinfor-block {
	width: 1000px;
	height: 254px;
	margin: 0 auto;
}

.jkxy {
	float: left;
	height: 180px;
	width: 180px;
	border-left: 1px solid #EEEEE0;
	border-right: 1px solid #EEEEE0;
	margin-top: 20px;
}

.jkxylit {
	margin-left: 28px;
}

.jkxylit a {
	color: #808080;
	text-decoration: none;
}

.jkxylit a:hover {
	color: #35b558;
}

.lijkxy a {
	font-size: 14px;
	font-weight: 500;
}

.list-jkxy {
	margin-top: 6px;
}

.list-jkxy a {
	font-size: 12px;
	padding-top: 10px;
	padding-left: 5px;
}

.lastjkxy {
	height: 200px;
	border-right: 0;
}

.share {
	margin-top: 0px;
	width: 280px;
	height: 220px;
	border-right: 0;
	border-left: 2px solid #EEEEE0;
}

.belief {
	height: 20px;
	margin: 20px 30px;
	color: #35b558;
}

.appimg {
	width: 21px;
	height: 43px;
	margin-left: 30px;
	float: left;
}

.apptext {
	width: 160px;
	height: 43px;
	float: left;
	margin-left: 10px;
}

.apptext a {
	text-decoration: none;
}

.apptext-sa {
	font-weight: bold;
	font-size: 18px;
	color: #666;
	margin-bottom: 8px;
}

.apptext-sa:hover,
.apptext-pa:hover,
.servicetext h5:hover,
.servicetext p:hover,
.copyright-a:hover {
	color: #35b558;
}

.apptext-pa {
	font-size: 14px;
	color: #808080;
}

.sbwshare {
	margin: 80px 0 0 30px;
	width: 219px;
	height: 32px;
}

.sbw {
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.sina {
	background: url(../img/icon_7f8.png)-23px 0 no-repeat;
}

.sina:hover {
	background: url(../img/icon_7f8.png)-23px -40px no-repeat;
}

.baidu {
	background: url(../img/icon_7f8.png)-145px 0px no-repeat;
}

.baidu:hover {
	background: url(../img/icon_7f8.png)-145px -40px no-repeat;
}

.weixin {
	position: relative;
	background: url(../img/icon_7f8.png)-23px -82px no-repeat;
}

.weixin:hover {
	background: url(../img/icon_7f8.png)-23px -122px no-repeat;
}

.weixin:hover .weinxinpop {
	display: block;
}

.weinxinpop {
	position: absolute;
	bottom: 32px;
	left: -48px;
	z-index: 200;
	display: none;
}

.service {
	width: 219px;
	height: 40px;
	margin: 20px 30px;
}

.serviceimg {
	float: left;
	width: 40px;
	height: 40px;
	background: url(../img/kefu.png) no-repeat 0 0/80px 40px;
}

.servicetext h5 {
	color: #666;
	font-size: 14px;
	margin-bottom: 2px;
	line-height: 22px;
	padding-left: 5px;
}

.servicetext p {
	color: #808080;
	font-size: 12px;
	padding-left: 5px
}

.servicetext {
	display: inline-block;
	margin-left: 6px;
	margin-top: -10px;
}

.copyright {
	font-size: 12px;
	color: #999;
	margin: 0 auto;
	width: 1000px;
	text-align: center;
	padding: 20px;
}

.copyright-a {
	color: #999;
}

.gotop {
	position: fixed;
	left: 50%;
	margin-left: 510px;
	bottom: 50px;
	width: 34px;
	text-align: center;
	z-index: 2000;
}

.gotop span {
	cursor: pointer;
}

.top {
	display: block;
	background: url(../img/gotop.jpg) 0 0 no-repeat;
	background-size: 34px 103px;
	width: 34px;
	height: 34px;
}

.top:hover {
	background: url(../img/gotop2.jpg) 0 0 no-repeat;
	background-position: 0 0;
	background-size: 34px 103px;
	-webkit-background-size: 34px 103px;
	-moz-background-size: 34px 103px;
}

.jk-app {
	position: relative;
	display: block;
	background: #f7f7f7 url(../img/phone-1.png) center center no-repeat;
	background-size: 12px 24px;
	width: 34px;
	height: 35px;
	border-bottom: 1px solid #e0e0e0;
}

.appewm {
	background: url(../img/appewm.png) center center no-repeat;
	background-size: 100%;
	width: 126px;
	height: 159px;
	position: absolute;
	z-index: 2100;
	left: -126px;
	top: -70px;
	display: none;
}

.jk-app:hover .appewm {
	display: block;
}

.qq-online {
	position: relative;
	display: block;
	background: #f7f7f7 url(../img/kfu1.png) center center no-repeat;
	width: 34px;
	height: 35px;
	border-top: 1px solid #e0e0e0;
}

.kefu {
	position: absolute;
	padding: 5px;
	background: #f7f7f7;
	color: #333;
	font-size: 12px;
	text-align: center;
	width: 180px;
	left: -190px;
	display: none;
}

.kefu i {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 10px solid #f7f7f7;
	border-bottom: 8px solid transparent;
	position: absolute;
	right: -10px;
	top: 12px;
}

.qq-online:hover .kefu{
	display: block;
}
