body {
	behavior: url(./js/csshover.htc);
	margin: 0;
	padding: 0;
	background-color: #eff0f0;
}

a {
	color: #333;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #f50;
	text-decoration: underline;
}


/*header*/

.header {
	width: 1068px;
	margin-top: 30px;
}

.head-search {
	float: left;
	width: 810px;
	margin: 30 auto;
}

.baidu-logo {
	float: left;
}

.baidu-serach {
	margin-left: 28px;
	width: 658px;
	float: left;
}

.iput-text {
	float: left;
	outline: none;
	padding: 0 10px 0 20px;
	font-size: 16px;
	width: 540px;
	height: 42px;
	line-height: 42px;
	border: 1px solid #666;
	border-right: 0;
	-webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1);
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1)
}

.iput-submit {
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;
	width: 118px;
	height: 42px;
	background: #DDD;
}

.head-skin {
	margin-left: 28px;
	float: left;
	width: 200px;
	height: 42px;
	border: 1px solid #2086b3;
}

.skin-text {
	display: inline-block;
	margin-left: 6px;
	position: relative;
	top: -4px;
}

.skin-list {
	display: inline-block;
	padding: 10px;
}

.skin {
	width: 30px;
	height: 20px;
	cursor: pointer;
	border: none;
}

.skin1 {
	background: #EE7621;
}

.skin2 {
	background: #9AC0CD;
}

.skin3 {
	background: #EEA9B8;
}


/*nav*/

.nav {
	margin-top: 50px;
	width: 1181px;
}

#nav-list {
	width: 1181px;
	height: 40px;
	border-top: 2px solid #099e6a;
	border-bottom: 1px solid #eaeaea;
	background-color: #fcfcfc;
}

.menu {
	border-right: 1px solid #eaeaea;
	height: 38px;
	line-height: 38px;
	width: 110px;
	float: left;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}

#first {
	height: 38px;
	background-color: #0aa770;
	width: 81px;
}

.nav-link {
	display: block;
	height: 38px;
	cursor: pointer;
	border-right: 0;
	text-align: center;
	color: #333;
	position: relative;
	font-family: Microsoft Yahei;
	font-size: 16px;
}

.active {
	padding-left: 0;
	cursor: pointer;
	color: #fff;
}

.nav-link:hover {
	text-decoration: none;
	color: #118850;
}

.active:hover {
	color: #fff;
}


/*中间*/

.arcticle {
	width: 1200px;
}


/*左侧面*/

.content-slider {
	border: 1px solid #cecece;
	width: 294px;
	height: 420px;
	float: left;
	margin-left: -10px;
}

.servicetab-bd {
	margin-top: 8px;
	border-top: 1px solid #cecece;
	background-color: #fcfcfc;
	width: 292px;
}

.starbar {
	padding: 8px 0 0 16px
}

.startbar-list {
	margin-bottom: 8px;
}

.baritem {
	width: 128px;
}

.star-icon {
	display: inline-block;
	position: absolute;
	margin-top: 2px;
	width: 20px;
	height: 20px;
	background: url(../img/index_menu.png) no-repeat;
}

.i-tv {
	background-position: -20px -81px;
}

.i-game {
	background-position: -19px -301px;
}

.i-movie {
	background-position: -20px -160px;
}

.i-comic {
	background-position: -20px -381px;
}

.i-war {
	background-position: -20px -100px;
}

.i-music {
	background-position: -20px -261px;
}

.i-stock {
	background-position: -20px -21px;
}

.i-novel {
	background-position: -20px -121px;
}

.i-mobile {
	background-position: -20px -281px;
}

.i-edu {
	background-position: -20px -362px;
}

.strar-text {
	margin-left: 24px;
}

.box-startools {
	height: 34px;
	padding-top: 8px;
	border-top: 1px solid #ebebeb;
	background-color: #fcfcfc;
}

.i-life {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 18px;
	margin-top: -2px;
	background: url(../img/index_menu.png) no-repeat -20px -221px;
}

.startools-arrow {
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	background: url(../img/new_index_icon.png) no-repeat -64px -22px;
	cursor: pointer;
	margin-right: 13px;
}

.startools-list {
	margin-left: 46px;
}

.startools-link {
	display: inline-block;
	width: 40px;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	margin-bottom: 11px;
}

.toplist {
	background-color: #fcfcfc;
	width: 292px;
	position: relative;
}

.toptab-list {
	background: #f7f7f7;
}

.toptab {
	font-size: 14px;
	color: #616161;
	position: relative;
	z-index: 20;
}

.channel {
	display: inline-block;
	width: 51px;
	text-align: center;
	color: #616161;
	position: relative;
}

.channel span {
	margin-top: -1px;
	width: 100%;
	height: 34px;
	border-top-width: 1px;
	display: inline-block;
	vertical-align: middle;
	line-height: 32px;
	position: relative;
	cursor: pointer;
}

.s-br20 {
	border: 1px solid #0aa770;
	border-width: 2px 0 0 0;
}

.spt {
	border-width: 0 0 0 1px;
	border: 1px solid #eaeaea;
}

.drop-down {
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/new_index_icon.png) no-repeat -27px -5px;
	position: absolute;
	cursor: pointer;
	top: 8px;
	right: 8px;
}

.drop-down:hover {
	background-position: -44px -5px;
}

.channel:hover {
	color: #118850;
}

.topzixun-over {
	width: 292px;
}

.text {
	margin-bottom: 0;
	height: 28px;
	overflow: hidden;
	padding: 0 15px;
}

.rank {
	background: #cecece;
	width: 4px;
	height: 4px;
	margin-top: 12px;
	float: left;
	margin: 12px 5px 0 0;
}

.text-link {
	line-height: 28px;
}

.topzixun-more {
	height: 24px;
	line-height: 24px;
	background: #f7f7f7;
	display: block;
	margin: 3px 0 0 15px;
	font-size: 12px;
	width: 248px;
	font-family: \5b8b\4f53;
	text-align: center;
	border-bottom-right-radius: 5px;
	margin-bottom: 12px;
}


/*中间内容*/

.section {
	width: 876px;
	float: right;
}

.hao123-famoussite {
	width: 874px;
	border: 1px solid #adb;
	position: relative;
	background-color: #fcfcfc;
}

.site-manage {
	position: absolute;
	top: 0;
	right: 0;
	width: 33px;
	height: 33px;
	background-repeat: no-repeat;
	background-position: -316px -128px;
	cursor: pointer;
	z-index: 999;
	background-image: url(../img/index_widthlg.png);
}

.site-bd {
	width: 868px;
	padding: 11px 0 5px 23px;
	position: relative;
}

.site-item {
	width: 130px;
	padding-top: 6px;
	padding-bottom: 24px;
	margin-right: 4px;
	padding-left: 9px;
	position: relative;
	color: #000;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
	display: inline-block;
}

.js_text {
	outline: 0;
	text-decoration: none;
	padding-left: 25px;
	display: inline-block;
	background-position: 2px 44%;
	background-position: 2px 40%\9;
	background-repeat: no-repeat;
}

.bd_text {
	background-image: url(../img/7656.png);
}

.tb_text {
	padding-left: 0;
	padding-right: 5px;
	position: relative;
	z-index: 999;
	display: inline-block;
	outline: 0;
}

.xl_text {
	background-image: url(../img/9898.png);
}

.sf_text {
	background-image: url(../img/9935.png);
}

.tx_text {
	background-image: url(../img/7082.png);
}

.wy_text {
	background-image: url(../img/7183.png);
}

.yk_text {
	background-image: url(../img/10605.png);
}

.tm_text {
	background-image: url(../img/1013.png);
}

.fh_text {
	background-image: url(../img/8838.png);
}

.tbw_text {
	background-image: url(../img/10062.png);
}

.tbw_text {
	background-image: url(../img/10062.png);
}

.mfyx_text {
	background-image: url(../img/0331.png);
}

.yx_text {
	background-image: url(../img/187.png);
}

.xh_text {
	background-image: url(../img/10435.png);
}

.jd_text {
	background-image: url(../img/21.png);
}

.jhs_text {
	background-image: url(../img/411.png);
}

.tj_text {
	background-image: url(../img/6282.png);
}

.yx_text {
	background-image: url(../img/771.png);
}

.qc_text {
	background-image: url(../img/380.png);
}

.cp_text {
	background-image: url(../img/476.png);
}

.box-famoussite {
	padding-top: 5px;
	clear: both;
	position: relative;
	z-index: 1;
}

.wf-line {
	margin-left: 30px;
	margin-right: 30px;
	position: relative;
	z-index: 110;
	clear: both;
	margin: 0 14px 0 14px;
	border-bottom: 1px solid #f0f0f0;
	top: 0;
}

.wf-inner {
	margin-left: 30px;
	padding-bottom: 3px;
	padding-top: 4px;
}

.wf-inner span {
	width: 136px;
	vertical-align: top;
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

.wf-inner span a {
	padding: 1px 4px;
	zoom: 1;
}

.g_red {
	color: #f50;
}

.g_green {
	color: #118850;
}

.g_green:hover {
	color: #118850;
	text-decoration: underline;
}

.layout-adbar {
	width: 900px;
	overflow: hidden;
}

.widget-hlbar {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	padding-left: 25px;
}

.widget-hlbar span {
	display: inline-block;
	padding-right: 25px;
}

.hlbar-link {
	color: #3b5998;
}

.hlbar-link:hover {
	color: #3b5998;
}

.layout-guess {
	width: 874px;
	position: relative;
	margin-bottom: 10px;
	background-color: #fcfcfc;
	border: 1px solid #cecece;
}

.youlike {
	width: 20px;
	height: 60px;
	display: block;
	background: url(../img/new_index_icon.png);
	background-position: 0 0;
	position: absolute;
	left: 0;
	top: 58px;
	z-index: 10;
}

.changeAll {
	width: 21px;
	height: 61px;
	display: block;
	background: url(../img/new_index_icon.png);
	background-position: 0 -145px;
	position: absolute;
	right: -1px;
	top: 58px;
	z-index: 10;
	outline: 0;
}

.next-main {
	padding: 9px 0;
}

.guesslike-industry {
	padding: 0 0 0 35px;
	width: 862px;
	height: 33px;
	line-height: 33px;
	position: relative;
}

.red-icon {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-image: url(../img/new_index_icon.png);
	background-position: 0 -100px;
	background-repeat: no-repeat;
	position: absolute;
	top: -1px;
	left: 63px;
}

.guesslike-industry-title {
	width: 40px;
	display: inline-block;
	height: 32px;
	width: 35px;
	line-height: 32px;
	position: relative;
	top: -10px;
}

.guesslike-row {
	display: inline-block;
	padding-right: 10px;
	height: 32px;
	line-height: 32px;
	margin-left: 16px;
}

.guesslike-col {
	width: 105px;
	text-align: left;
	padding: 0;
	overflow: hidden;
	height: 32px;
	line-height: 32px;
	position: relative;
	display: inline-block;
}


/*footer*/

.footer {
	height: 70px;
	width: 100%;
	min-width: 800px;
	background-color: #f0eff4;
}

.hao123-footer {
	margin: auto;
	margin-left: 60px;
	border-top: 1px solid #e9e9e9;
	padding-top: 20px;
	width: 1190px;
	height: 50px;
}

.g-fl {
	float: left;
}

.first-item {
	width: 228px;
	height: 28px;
	margin: 0 16px 0 9px;
	font: normal 14px/28px "Microsoft YaHei";
	background: url(../img/sprite_footer.jpg) no-repeat;
}

.item {
	color: #666;
	margin: 0 16px 0 9px;
	font: normal 14px/28px "Microsoft YaHei";
}

.item:hover {
	color: #666;
}

.bottom-fawu {
	width: 16px;
	height: 16px;
	background: url(../img/bottomicon.png) no-repeat;
	margin: 0 12px 0 0;
	position: relative;
	bottom: -1px;
	display: inline-block;
}

.icon-fawu1 {
	background-position: 0 -16px;
}

.icon-fawu1:hover {
	background-position: 0 -0;
}

.icon-fawu2 {
	background-position: -20px -16px;
}

.icon-fawu2:hover {
	background-position: -20px 0;
}

.icon-fawu3 {
	background-position: -40px -16px;
}

.icon-fawu3:hover {
	background-position: -40px 0;
}

.mobile-box {
	padding-right: 4px;
	float: right;
}

.foot-app {
	float: left;
	color: #666;
	margin-left: 20px;
	padding-left: 34px;
	width: 70px;
	height: 30px;
	font-size: 12px;
	line-height: 15px;
	background: url(../img/sprite_footer.jpg) no-repeat;
}

.browse {
	background-position: 0 -34px;
}

.mobile {
	background-position: -212px -34px;
}