body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	position: absolute;
	font: 12px arial;
	position: relative;
	text-align: center;
}

.wrapper {
	height: 100%;
	width: 100%;
	min-width: 1000px;
	z-index: -10;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	zoom: 1;
}

/*搜索区域固定在头部*/

.header-search {
	display: none;
	position: relative;
	z-index: 35;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	box-shadow: 0 0 3px rgba(150, 150, 150, .2);
	min-width: 1220px;
	min-height: 60px;
	width: 100%;
	padding-bottom: 8px;
	filter: alpha(opacity=96);
	-moz-opacity: 0.96;
	opacity: 0.96;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100000;
}

.search-cont {
	width: 900px;
	margin: auto;
}

.bd-search {
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	font-size: 0;
}

.result_logo {
	margin-top: 10px;
	float: left;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	-webkit-animation: fadein 1s;
}

.result_logo img {
	width: 101px;
}

/*各皮肤背景*/

.wrapperskin1 {
	background-color: #404040;
	background-image: url(../img/skin1_bg.jpg);
}

.wrapperskin2 {
	background-color: #404040;
	background-image: url(../img/skin2_bg.jpg);
}

.wrapperskin3 {
	background-color: #404040;
	background-image: url(../img/skin3_bg.jpg);
}

.head {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 768px;
}

#skin1 {
	background: url(../img/skin1.jpg?__sprite);
	background-size: 270px 179px;
}

#skin2 {
	background: url(../img/skin2.jpg?__sprite);
	background-size: 270px 179px;
}

#skin3 {
	background: url(../img/skin3.jpg?__sprite);
	background-size: 270px 179px;
}


/*网页顶部*/

.top-wrap {
	position: absolute;
	z-index: 99;
	min-width: 1000px;
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #ebebeb;
}

.upfunc-menus {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	height: 32px;
	padding-right: 15px;
	font-size: 13px;
}

.weather-wrapper {
	float: left;
	height: 34px;
}

.mod-weather-wrap {
	margin: 7px 0 0 15px;
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}

.city-wather {
	color: #adacac;
	outline: none;
	text-decoration: none;
	display: block;
	cursor: pointer;
	height: 20px;
	white-space: nowrap;
}

.show-weather {
	display: inline-block;
	height: 20px;
}

.show-city {
	color: #555;
	display: inline-block;
	height: 20px;
	vertical-align: bottom;
	white-space: nowrap;
}

.show-icon {
	margin-right: 9px;
	display: inline-block;
	height: 20px;
	vertical-align: bottom;
}


/*网页皮肤*/

.show-skin {
	display: none;
	opacity: 0.98;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 288px;
	background: #fff;
	z-index: 1113;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
}

.skin-border {
	position: absolute;
	top: 46px;
	left: 0;
	width: 100%;
	height: 240px;
	z-index: -1;
	border-top: 1px #e3e3e3 solid;
	border-bottom: 1px #e3e3e3 solid;
}

.skin-layer-cell {
	width: 911px;
	overflow: hidden;
	margin: 0 auto;
}

.s-skin-header {
	line-height: 46px;
	height: 46px;
}

.s-skin-up {
	cursor: pointer;
	margin: 0 auto;
	width: 50px;
	color: #FF0000;
	font-size: 13px;
}

.s-skin-up span {
	display: inline-block;
	vertical-align: middle;
}

.bg {
	margin-right: 2px;
	background: url(../img/skin_icon.png?__sprite) no-repeat -44px -175px;
	width: 11px;
	height: 15px;
}

.skin-photo-body {
	padding: 25px 0 0 0;
	height: 215px;
	position: relative;
}

.skin-border-content {
	width: 910px;
	height: 179px;
}

.s-skin-content {
	list-style: none;
}

.skin-type-content {
	cursor: pointer;
	margin-right: 6px;
	width: 270px;
	height: 179px;
	float: left;
}

.weather-icon {
	background-image: url(../img/a4.png?__sprite);
	width: 18px;
	height: 18px;
	display: inline-block !important;
	vertical-align: middle;
	margin-right: 5px;
}

.show-icon-temp {
	line-height: 20px;
	vertical-align: top;
	color: #555;
}

.show-pollution {
	display: inline-block;
	height: 20px;
	vertical-align: bottom;
}

.show-airParm {
	color: #555;
	display: inline-block;
	height: 20px;
	vertical-align: bottom;
}

.show-polution-name {
	color: #badc00;
	font-weight: bold;
	margin-right: 7px;
	vertical-align: top;
}

.show-vertical {
	margin-right: 11px;
	color: #555;
}

.show-polution-num {
	margin-right: 7px;
	vertical-align: top;
	line-height: 20px;
	margin-left: 0;
	color: #555;
}

.s-icons {
	float: left;
}

.s-icons a {
	position: relative;
	height: 32px;
	line-height: 32px;
	margin-right: 19px;
	color: #555;
	text-decoration: underline;
	outline: none;
	display: inline-block;
	text-shadow: none;
}

.isindex-wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: 590px;
	font-size: 13px;
	text-align: right;
	color: #999;
}

.isindex-wrap a {
	position: relative;
	height: 32px;
	line-height: 32px;
	margin-left: 19px;
	color: #555;
	text-decoration: underline;
	outline: none;
	display: inline-block;
	text-shadow: none;
}

.mnav {
	font-weight: bold;
}

#s_bri {
	width: 86px;
	height: 32px;
	line-height: 32px;
	color: #FFF;
	background: #398bfb;
	font-size: 13px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #398bfb;
	text-decoration: none;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}


/*用户菜单*/

.user_name_menu {
	display: none;
	width: 70px;
	position: absolute;
	right: 138px;
	padding-top: 6px;
	top: 26px;
	float: right;
	z-index: 999;
	text-align: left;
}

.user_name_menu div,
.bdpfmenu div {
	position: relative;
	border: 1px solid #E3E3E3;
	box-shadow: 1px 1px 5px #d1d1d1;
	-moz-box-shadow: 1px 1px 5px #d1d1d1;
	-webkit-box-shadow: 1px 1px 5px #d1d1d1;
}

.user_name_menu div a,
.bdpfmenu div a {
	text-shadow: none;
	color: #000 !important;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	padding-left: 8px;
	background-color: #fff;
	cursor: pointer;
	text-align: left;
	display: block;
	margin: 0;
	font-size: 12px;
	position: relative;
}

.user_name_menu div a:hover,
.bdpfmenu div a:hover {
	background-color: #0000EE;
}

.menu-arrow {
	float: right;
	right: 32px;
	position: absolute;
	z-index: 2;
	top: -4px;
	left: 28px;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed transparent;
	border-bottom: 5px solid #e3e3e3;
	font-size: 0;
	background-position: 0 -90px;
}

.menu-arrow em {
	position: absolute;
	top: -4px;
	left: -5px;
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	color: #666;
	border-top: 5px dashed transparent;
	border-left: 5px dashed transparent;
	border-right: 5px dashed transparent;
	border-bottom: 5px solid #fff;
}


/*用户设置菜单*/

.bdpfmenu {
	display: none;
	width: 70px;
	position: absolute;
	padding-top: 6px;
	top: 26px;
	float: right;
	z-index: 999;
	text-align: left;
	right: 82px;
}


/*更多产品*/

.s_bdbriimg {
	display: none;
	min-height: 600px;
	position: fixed;
	z-index: 2;
	right: 0;
	top: 0;
	width: 85px;
	border-left: 1px solid #e7e7e7;
	background-color: #f9f9f9;
	overflow: hidden;
	text-shadow: none;
}

.s_bdbriimgtitle {
	color: #333;
	text-align: center;
	width: 66px;
	height: 30px;
	line-height: 34px;
	padding-bottom: 10px;
	margin: 0 auto;
	border-bottom: #f0f0f0 1px solid;
	font-size: 13px;
	cursor: default;
}

.bdbriscroll-onwheel {
	overflow: hidden;
	position: relative;
}

.bdbriscroll-onwheel a {
	position: relative;
	display: block;
	text-align: center;
	width: 66px;
	height: 76px;
	margin: 0 auto;
	font-size: 12px;
	border-bottom: #f0f0f0 1px solid;
	color: #666 !important;
	text-decoration: none;
	overflow: hidden;
	text-shadow: none;
	line-height: 14px;
}

.bdbriscroll-onwheel a img {
	display: block;
	height: 36px;
	width: auto;
	margin: 10px auto 5px;
	cursor: pointer;
}

.s_bdbrievenmore {
	margin-top: 15px;
	height: 30px;
	width: 85px;
	overflow: hidden;
}

.s_bdbrievenmore a {
	display: block;
	text-align: center;
	width: 66px;
	height: 76px;
	margin: 0 auto;
	font-size: 12px;
	border-bottom: #f0f0f0 1px solid;
	color: #666;
	text-decoration: none;
	overflow: hidden;
	text-shadow: none;
	line-height: 14px;
}

.s_bdbrievenmore a:hover,
.bdbriscroll-onwheel a:hover {
	text-decoration: underline;
}


/*搜索*/

.head_wrapper {
	position: relative;
	z-index: 2;
	height: 38.2%;
	min-height: 293px;
	width: 1000px;
	margin: 0 auto;
}

.s_form {
	width: 641px;
	height: 100%;
	min-height: 293px;
	margin: 0 auto 0 auto;
	text-align: left;
	z-index: 100;
}

.s_form_wrapper {
	font-size: 0;
	height: 100%;
}

.s-p-top {
	height: 61.8%;
	min-height: 181px;
	position: relative;
	z-index: 0;
	text-align: center;
}

.s_lg_img {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -135px;
}

.s_ipt_wr {
	position: relative;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.ipt_photo {
	right: 12px;
	z-index: 1;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	width: 18px;
	background: #fff url(../img/soutu.png?__sprite) no-repeat 0 0;
	cursor: pointer;
}

.ipt_photo:hover {
	background: #fff url(../img/soutu.png?__sprite) no-repeat 0 -21px;
}

.s_ipt {
	width: 480px;
	padding-right: 48px;
	margin: 0;
	height: 20px;
	padding: 9px 7px;
	font: 16px arial;
	border: 1px solid #b8b8b8;
	border-bottom: 1px solid #ccc;
	border-right: 0;
	vertical-align: top;
	outline: none;
	box-shadow: none;
}

.s_ipt:hover {
	border: 1px solid #999;
	border-right: 0;
}

.s_ipt:focus {
	border: 1px solid #38f;
	border-right: 0;
}

.s_btn_wr {
	width: 102px;
	height: 38px;
	border: 1px solid #38f;
	border-bottom: 1px solid #2e7ae5;
	background-color: #38f;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.s_btn {
	cursor: pointer;
	width: 102px;
	height: 38px;
	line-height: 38px;
	padding: 0;
	border: 0;
	background: none;
	background-color: #38f;
	font-size: 16px;
	color: white;
	box-shadow: none;
	font-weight: normal;
}

.s_btn:hover {
	background: #317ef3;
	border-bottom: 1px solid #28668c8;
	box-shadow: 1px 1px 1px #ccc;
}


/*中间内容*/

.s_wrap {
	z-index: 0;
	min-width: 1000px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.s_main {
	position: relative;
	margin: 0 auto;
	width: 895px;
	zoom: 1;
}


/*中间内容菜单*/

.mancard_main {
	position: relative;
	z-index: 2;
}

.menu-container {
	width: 100%;
	min-height: 35px;
}

.ctner_menus {
	position: relative;
	z-index: 11111;
	width: 893px;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	height: 39px;
	line-height: 39px;
}

.menu_mine {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	float: left;
	text-align: left;
	width: 124px;
	color: #333;
	height: 39px;
	cursor: pointer;
}

.mine-icon {
	margin: 11px 0 0 20px;
	width: 20px;
	height: 18px;
	background: url(../img/card_setts.png) no-repeat -15px 0;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.mine-text {
	height: 100%;
	margin-left: 3px;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.menus-outer {
	float: left;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	width: 719px;
}

.menus-wrapper {
	display: inline-block;
	zoom: 1;
	float: left;
	vertical-align: top;
	height: 100%;
}

.s-menu-item {
	color: #333;
	width: 80px;
	height: 39px;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
}

.s-menu-item:hover,
.menu_mine:hover {
	background-color: #C2C2C2;
	color: #FFF;
}

.current {
	background-color: #9a9da2 !important;
	color: #fff;
	font-weight: bold;
	filter: none;
}

.menu_set {
	height: 39px;
	float: right;
	width: 18px;
	padding: 0 21px 0 11px;
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.menu-icon {
	width: 100%;
	height: 18px;
	margin-top: 11px;
	overflow: hidden;
	background: url(../img/card_setts.png) no-repeat -121px -49px;
}

.menu-icon:hover {
	background: url(../img/card_setts.png) no-repeat -121px -73px;
}

.ctner_contents {
	width: 893px;
	min-height: 363px;
	border: 1px solid #e9e9e9;
}


/*新闻推荐*/

.xmancard_news {
	display: none;
	position: relative;
	width: 843px;
	padding: 0 25px 0 25px;
	min-height: 318px;
}

.news-rank-wrapper {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 300px;
	margin-top: 20px;
	text-align: left;
}

.rank-title {
	height: 30px;
	width: 270px;
}

.title-text {
	float: left;
	height: 22px;
	width: 94px;
	padding-top: 3px;
	font-size: 14px;
	font-weight: bold;
}

.title-text a {
	text-decoration: none;
	color: #333;
}

.hot-refresh {
	display: block;
	float: right;
	height: 22px;
	padding-top: 3px;
	width: 60px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.hot-refresh-icon {
	width: 18px;
	height: 16px;
	background: url(../img/news.png) -23px -25px no-repeat;
	vertical-align: bottom;
	display: inline-block;
	zoom: 1;
}

.hot-refresh-text {
	font-size: 13px;
	width: 38px;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.hot-refresh:hover {
	color: #4169E1;
}

.news-rank-content {
	position: relative;
	list-style: disc;
	margin: 0;
	padding: 0;
}

.news-meta-item {
	width: 145px;
	margin-right: 3px;
	display: inline-block;
	zoom: 1;
	list-style: square;
}

.news-icon {
	height: 3px;
	width: 3px;
	background: #666;
	text-align: center;
	margin-right: 7px;
	font-size: 0;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	line-height: 34px;
}

.news-title {
	width: 132px;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	height: 34px;
	line-height: 34px;
}

.title-link {
	float: left;
	display: block;
	font-size: 14px;
}

.title-content {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	max-width: 113px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	text-decoration: none;
}

.title-content:hover {
	color: #0079f4;
	text-decoration: underline;
}

.news-flash-tips {
	width: 100%;
	height: 38px;
	text-align: left;
}

.left-line {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	height: 0;
	width: 172px;
	font-size: 0;
	border-bottom: 1px solid #e2e2e2;
	margin-top: 21px;
}

.tips-content {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	width: 187px;
	padding-top: 21px;
	margin: 0 auto;
}

.tips-icon {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	height: 14px;
	width: 12px;
	margin: 0 6px 0 6px;
	background: url(../img/news.png) no-repeat -45px -1px;
}

.tips-content span {
	zoom: 1;
	vertical-align: middle;
	font-size: 13px;
	color: #999;
}

.news-list-wrapper:first-child {
	padding-top: 0;
}

.news-list-wrapper {
	padding: 0;
	float: left;
	text-align: left;
	width: 538px;
}

.news-item-tpl:first-child {
	border-top: 0;
}

.news-item-tpl {
	border-top: 1px solid #f0f0f0;
	min-height: 97px;
	overflow: visible;
	position: relative;
}

.news-item-tpl h2 {
	position: relative;
	z-index: 0;
	width: 100%;
	font-size: 18px;
	font-weight: normal;
}

.prefix-0 {
	background: url(../img/news.png) -20px -100px no-repeat;
	height: 16px;
	width: 16px;
	font-size: 0;
	margin-right: 5px;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

.s-yahei {
	color: #333;
	font-weight: bold;
	line-height: 22px;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	width: 508px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: arial, 'Microsoft Yahei', '微软雅黑';
	text-decoration: none;
}

.s-yahei:hover {
	color: #0079f4;
	text-decoration: underline;
}

.from {
	padding: 15px 0 17px 0;
	color: #999;
	height: 15px;
	line-height: 15px;
	font-size: 14px;
}

.src-net {
	margin-right: 10px;
}

.src-net a {
	text-decoration: none;
	color: #999;
}


/*我的关注*/
.xmancard_mine {
	display: none;
	min-height: 318px;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding-bottom: 21px;
}

.s-code-blocks {
	position: relative;
	width: 100%;
	margin-top: 13px;
	margin-bottom: 10px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.s-block-container {
	width: 844px;
	overflow: hidden;
	margin: 0 auto;
}

.s-mblock-title {
	position: relative;
	z-index: 0;
	height: 30px;
	width: 100%;
	text-align: left;
	font-size: 14px;
	padding-bottom: 6px;
}

.title-content {
	height: 100%;
	line-height: 30px;
	cursor: pointer;
}

.mine-title-text,
.mine-title-num {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

.mine-title-text {
	line-height: 30px;
	height: 30px;
	font-weight: bold;
	margin-right: 4px;
}

.mine-title-num {
	height: 30px;
	color: #666;
}

.mblock-content {
	text-align: left;
	position: relative;
	width: 850px;
	border-top: 1px solid #f0f0f0;
	padding-bottom: 15px;
	font-size: 14px;
}

.nav-item-blank {
	display: inline-block;
	zoom: 1;
	height: 44px;
	line-height: 44px;
	width: 166px;
	cursor: pointer;
}

.border-for-item {
	display: block;
	height: 41px;
	width: 158px;
	border: 1px solid transparent;
	text-decoration: none;
	color: #333;
}

.nav-icon {
	margin-left: 15px;
	margin-top: 12px;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.nav-text {
	line-height: 41px;
	height: 41px;
	margin-left: 5px;
	text-align: left;
	width: 104px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}

.nav-item-blank:hover {
	background-color: #F5FFFA;
}


/*导航*/

.xmancard_nav {
	display: none;
	height: 980px;
	position: relative;
	padding: 10px 0 13px 25px;
	min-height: 318px;
}

.nav-block-wrapper {
	margin: 0 auto;
}

#s-nav-personal h1 {
	margin: 8px 0 4px;
	padding: 0;
	font-size: 14px;
	text-align: left;
}

.s-nav-wrapper {
	margin: 0 auto;
}

.s-nav-wrapper h1 {
	font-size: 14px;
	text-align: left;
	margin: 230px 0 5px 11px;
	padding-top: 25px;
}

.relaxation h1 {
	margin-top: 160px;
}

.nav-item {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 15px;
	margin-top: 15px;
	position: relative;
}

.nav-block {
	cursor: pointer;
	height: 58px;
	line-height: 58px;
	width: 126px;
	position: relative;
	display: block;
	background-color: #fcfcfc;
	border: 1px solid #fcfcfc;
	text-decoration: none;
}

.nav-block img {
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	width: 16px;
}

.nav-block-img {
	position: absolute !important;
	left: 5px !important;
	top: -2px !important;
	height: 70px !important;
	width: 115px !important;
}

.nav-txt {
	position: absolute;
	text-align: left;
	left: 44px;
	color: #333;
	font-size: 14px;
	padding: 0;
	max-width: 71px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.nav-block:hover {
	border-color: #f0f0f0;
}

.display-block {
	display: block !important;
}


/*网页底部*/

.s-bottom-ctner {
	position: static;
	margin: 23px auto 12px;
	width: 100%;
	z-index: 3;
	bottom: 12px;
	left: 0;
	overflow: hidden;
	color: #999;
	zoom: 1;
}

.lh {
	display: inline;
}

.s-bottom-ctner a {
	font-size: 12px;
	text-decoration: underline;
	color: #999;
}

.sethome {
	margin-right: 12px;
}

.recordcode {
	padding-top: 6px;
	height: 16px;
	line-height: 16px;
}

.recordcode a {
	text-decoration: none;
}

.recordcode a i {
	display: inline-block;
	width: 14px;
	height: 16px;
	margin-right: 6px;
	background: url(../img/police.png?__sprite) 0 0 no-repeat;
	vertical-align: middle;
	margin-top: -4px;
}

.gotop {
	position: fixed;
	left: 50%;
	margin-left: 610px;
	bottom: 50px;
	width: 34px;
	text-align: center;
	z-index: 2000;
}

.gotop span {
	cursor: pointer;
}

.top {
	display: block;
	background: url(../img/gotop.jpg) 0 0 no-repeat;
	background-size: 34px 103px;
	width: 34px;
	height: 34px;
}

.top:hover {
	background: url(../img/gotop2.jpg) 0 0 no-repeat;
	background-position: 0 0;
	background-size: 34px 103px;
}